body{
 background-color: #000000;
}
.centerWallpaper{
 background-image: url("IMG/narniaWallpaper.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position:top;
 background-attachment: fixed;
 width:100%;
 height:35%;
}